/* CSS styles for the create account form */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  form {
    text-align: left;
  }

  label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  p {
    font-size: 14px;
    color: #777;
  }

  button[type="submit"] {
    background-color:rgb(191, 120, 191);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
  }

  a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }

  a:hover {
    text-decoration: underline;
  }
 